body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* body {
  background-image: url('./images/hb-bg1.jpg');
} */

body {
  background: url('./images/hb-bg1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


[class*="navbar"] a {
    color:rgba(0,0,0,.5);
}
[class*="navbar"] img {
    vertical-align: top;
}

[class*="navbar"] a:hover {
    color:rgba(0,0,0,.7);
    text-decoration: none;
}

.hb-app {
  padding-bottom: 2.5em;
}

.sittit {
  text-align: center;
  font-style: italic;
  color: #00acb5;
  background-color: rgba(0,0,0,.7);
  padding: .5em;
  margin-bottom: .5em;
}

.sitcont {
  background-color: rgba(0,0,0,.6);
  margin: 0 3em 0 3em;
  color: #fff;
  border-radius: .25rem;
}

.sitcont a {
  color: #77f8ff;
}

.sticky-footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 2.0em;
   background-color: #f8f9fa;
   color: rgba(0,0,0,.5);
   text-align: center;
}

/* .artul, .newsul {
  list-style-type: none;
  width: fit-content;
  padding: 1em 2.5em 0 2.5em;
}

.authul, .newsul li {
  list-style-type: none;
  border-bottom:  1px solid gray;
  padding-top: 1em;
  padding-bottom: 1em;
}

.artimg {
  max-height: 100px;
  margin-right: 1em;
  display: inline-table;
  vertical-align: middle;
}

.inlineart {
  display: inline-table;
  vertical-align: middle;
} */

.tab-content, .fullcomsdiv {
  padding: 1em 3em 1em 3em;
}

.artimg {
  max-height: 100px;
}

.artstable {
  /* margin-left: 3em; */
}

.artstable tr, .disctab tr {
  border-bottom: 1px solid gray;
}

.artstable td, .disctab td {
  padding: 1em;
}

.disccont {
  white-space: pre-line;
}

.fullcomsdiv .collapse {
  width: fit-content;
  padding-right: 3em;
}

.disctab {
  background-color: rgba(0,0,0,.8);
  border-radius: .25rem;
  margin-top: 1em;
  margin-left: 4em;
}

.commentscroll {
  max-height: 500px;
  overflow-y: scroll;
}

.righttxt {
  text-align: right;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: .25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: .25rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: .25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: .25rem;
}
